/* HEADER IMAGE */
.header {
	font-size:72px;
}

#cta-container {
	background-image: url(../images/icons/bg_landing.jpg);
	height:100vh;
}

.logo {

}

/* SUB SECTIONS */

#clients {
	padding: 35px 0px 25px 0px;
}

#users {
	padding-top: 25px;
}

/* SUB CONTENT */

.subtitles {
	background-color: white;
	border:none; 
	margin: 0px 0 40px;
}

.subpara {
	padding-top: 5px;
}

.feat-cont {
	padding: 75px 0;
}


.subscribe {
	margin-top: 20px;
	margin-bottom: 10px;
}

.form-input {
	padding-top: 10px;
}

.copyright {
	margin-top: 50px;
}
