<!DOCTYPE html>
<html>
<head>
	<!-- META -->
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link href="/favicon.ico" rel="icon" type="image/x-icon">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- CSS -->
	{% load static %}
	<link charset="utf-8" href="{% static "css/fonts.css" %}" rel="stylesheet" type="text/css">
	<link charset="utf-8" href="{% static "css/stylesheet.css" %}" rel="stylesheet" type="text/css">
	<link href= "{% static "css/main.css" %}" media="all" rel="stylesheet" type="text/css">
	<script src="https://use.fontawesome.com/9de69730d8.js"></script>

	<!-- jQuery -->
	<!-- <script type="text/javascript" src="jquery-1.8.3.js"></script> -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

	<script type="text/javascript" src="{% static "js/jquery.leanModal.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/landing.js" %}"></script>
		

	<title>Sephyr: Beauty and Wellness Service</title> 
</head>

<body>

	<div id="cta-container">
		<div class="cta">
			<div class="logo">
				<h1 class="header"> Sephyr | Your Business, Your Way </h1>
			</div>
			<div class="copy">
				<h1>Discover. Network. Inspire.</h1>
				<h3>"Are you..."</h3>
			</div>
			<div class="main-button">
				<a rel="leanModal" href="#clients" class="main-btn">Looking For Clients</a>
				<a rel="leanModal" href="#users" class="main-btn">Looking For Beauty Artists</a>
			</div>
		</div>
	</div>
	

	<!-- FIRST FEATURE BENEFIT -->
	<div id="feature-a-container">
		<h1 class="page-header subtitles" id="clients" style="border:none;">Looking For Clients</h1>
		<div class="feature-a">
			<div class="feature-a-copy">
				<h2>Manage Your Appointments and Payments</h2>
				<p>Let your clients schedule an appointment with a calendar, which will sync with their calendar so they won't miss an appointment. Express payment will allow your customers to prepay for your service for a hassle free transaction.</p>
			</div>	
		</div>
		<div class="feature-a-image">
			<img class="center-block" src="{% static "images/Icons/calendar.png" %}" />
		</div>
	</div>

	<!-- SECOND FEATURE BENEFIT -->
	<div id="feature-b-container" class="feat-cont">
		<div class="feature-b">
			<div class="feature-b-image">
				<img class="center-block" src="{% static "images/Icons/profile_icon.png" %}" />
			</div>
			<div class="feature-b-copy">
				<h2>Create a profile and network with other professionals in your area</h2>
				<p>Allow customers to connect with you and your work. List a variety of services you provide. Upload pictures on your social media profiles and line it with your sephyr account.</p>
				<p class="subpara">Connect with other professionals in your area. </p>
			</div>
		</div>
	</div>

	<!-- THIRD FEATURE BENEFIT -->
	<div id="feature-c-container" class="feat-cont">
		<div class="feature-c">
			<div class="feature-c-copy">
				<h2>Easy to use platform</h2>
				<p>Quick and easy to learn platform will allow you to integrate this software in your business</p>
				<p class="subpara"> Takes the ease off of administrative work to focus solely in providing quality service and increase customer satisfaction.</p>
			</div>
			<div class="feature-c-image">
				<img class="center-block" src="{% static "images/Icons/platform_icon.svg" %}" />
			</div>
		</div>
	</div>

	<!-- USERS LOOKING FOR SERVICE -->
	<div class="continer-fluid">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="page-header subtitles" id="users">
                    Looking For Beauty Artists
                </h1>
	        </div>
	    <div>

		<div class="row">
			<div class="col-md-3">
                <div class="panel-heading">
                    <img class="img-responsive center-block" src="{% static "images/Icons/housecall_icon.png" %}" style="width:180px; height:180px"/>
                </div>
                <div class="panel-body">
                    <p>Have the experts come to you</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel-heading">
                    <img class="img-responsive center-block" src="{% static "images/Icons/review_icon.png" %}" style="width:180px; height:180px"/>
                </div>
                <div class="panel-body">
                    <p>Rate | Review | Follow your favorite artists and create a community</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel-heading">
                    <img class="img-responsive center-block" src="{% static "images/Icons/find_icon.png" %}" />
                </div>
                <div class="panel-body">
                    <p>Find Experts Near You</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel-heading">
                    <img class="img-responsive center-block" src="{% static "images/Icons/appointment_icon.png" %}"/>
                </div>
                <div class="panel-body">
                    <p>Schedule Appointments at the tap of a button</p>
                </div>
            </div>
		</div>
	</div>
	<!-- FOOTER CONTAINER -->

	<div id="footer-container" class="container">
		<div class="footer">
			<div id="signup">
				<h4>Let us keep you updated!</h4>
				<p class="size16">
					Please leave us your email, and we'll let you know about important dates on releases. We always appreciate ideas, feature-requests, knowledge, and any sort of feedback to help us build the perfect product for you.
				</p>
				<form action="{% url 'thankyou' %}" method="post">
					{% csrf_token %}
					<div class="row form-input">
						<label for="your_first">First name: </label>
					<input id="first_name" type="text" name="first_name"/>	
					</div>
					<div class="row form-input">
					  <label for="your_last">Last name: </label>
					  <input id="last_name" type="text" name="last_name"/>
					</div>
					<div class="row form-input">
					  <label for="your_email">Your email*: </label>
					  <input id="email" type="text" name="email"/>
					<div class="row">
						<div class="col-md-12">
							<input type="submit" value="Subscribe" class="subscribe"/>
					  		<p>* = Required fields</p>	
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="copyright row">
			<p>Copyright © 2016 Sephyr</p>
		</div>
	</div>
</body>

</html>
