<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	
	<title>Sephyr: Build your freelance business</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	{% load static %}
	<link href= "{% static "css/main.css" %}" media="all" rel="stylesheet" type="text/css">
	<link charset="utf-8" href="{% static "css/fonts.css" %}" rel="stylesheet" type="text/css">
	<link charset="utf-8" href="{% static "css/stylesheet.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
	<div style="height:100vh;" class="jumbotron">
		<div class="row">
			{% if sub %}
				<h2>Thank you!</h2>
				<p>You've signed up for updates through your email: {{ sub.email }}</p>
			{% elif status %}
				<h2>Oops!</h2>
				<p>There was a problem with subscribing, please try again.</p>
			{% endif %}
		</div>
	</div>
	
</body>
</html>
